lifeexpectancyflow.json
[{"id":"3ef5ffac.d055b","type":"tab","label":"Prediction","disabled":false,"info":""},{"id":"d84e72be.afeda","type":"function","z":"3ef5ffac.d055b","name":"PRE TOKEN","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"fdQYOL7rQa9Lb_2ohzGk3JXqWa31P4WKr4p0IcQM2FVt\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":90,"y":240,"wires":[["4724203e.3bb3f"]]},{"id":"360ce7da.3fde08","type":"function","z":"3ef5ffac.d055b","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"486da02e-390e-47aa-a823-141d46082113\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nvar a =global.get(\"a\");\nvar b =global.get(\"b\");\nvar c =global.get(\"c\");\nvar d =global.get(\"d\");\nvar e =global.get(\"e\");\nvar f =global.get(\"f\");\nvar g =global.get(\"g\");\nvar h =global.get(\"h\");\nvar i =global.get(\"i\");\nvar j =global.get(\"j\");\nvar k =global.get(\"k\");\nvar l =global.get(\"l\");\nvar m =global.get(\"m\");\nvar n =global.get(\"n\");\nvar o =global.get(\"o\");\nvar p =global.get(\"p\");\nvar q =global.get(\"q\");\nvar r =global.get(\"r\");\nvar s =global.get(\"s\");\nvar t =global.get(\"t\");\n\nmsg.payload=\n{\"fields\":['Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years','Income composition of resources', 'Schooling',\n       'Developed', 'Developing'],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["14326c7a.eb8bf4"]]},{"id":"6fe98703.e6e108","type":"ui_form","z":"3ef5ffac.d055b","name":"","label":"Life Expectancy","group":"85f22241.dc8c9","order":1,"width":0,"height":0,"options":[{"label":"Adult Mortality  ","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths     ","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B ","value":"e","type":"number","required":true,"rows":null},{"label":"Measles","value":"f","type":"number","required":true,"rows":null},{"label":"BMI ","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio ","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure ","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS  ","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"population","value":"n","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources      ","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling ","value":"r","type":"number","required":true,"rows":null},{"label":"Developed  ","value":"s","type":"number","required":true,"rows":null},{"label":"Developing  ","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":360,"wires":[["d84e72be.afeda"]]},{"id":"4724203e.3bb3f","type":"http request","z":"3ef5ffac.d055b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":210,"y":140,"wires":[["360ce7da.3fde08"]]},{"id":"14326c7a.eb8bf4","type":"http request","z":"3ef5ffac.d055b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/486da02e-390e-47aa-a823-141d46082113/deployments/a43745a0-c9bc-44aa-9a87-f85c66a0a9c0/online","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":300,"wires":[["a6a869eb.d56fd8","1f401701.e34fb9"]]},{"id":"a6a869eb.d56fd8","type":"function","z":"3ef5ffac.d055b","name":"","func":"num= parseInt(msg.payload.values[0][0])\nexp=num.toString().length;\nexp=exp-3\nnorm=Math. pow (10, exp );\nmsg.payload=Math.abs(num)/norm;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["1f54bf5c.7e7291","8095a073.51bed"]]},{"id":"1f54bf5c.7e7291","type":"ui_text","z":"3ef5ffac.d055b","group":"85f22241.dc8c9","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":280,"wires":[]},{"id":"8095a073.51bed","type":"debug","z":"3ef5ffac.d055b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":200,"wires":[]},{"id":"1f401701.e34fb9","type":"debug","z":"3ef5ffac.d055b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":440,"wires":[]},{"id":"85f22241.dc8c9","type":"ui_group","z":"","name":"Life Expectancy Model","tab":"2f80d74.fc22628","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f80d74.fc22628","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]